<div class="container">
  <h2>Trader</h2>

  <%= render "form" do %>
    <%= submit_tag "Fetch and save", data: { after: '' }, class: "btn btn-primary" %>
    <%= submit_tag "Fetch", data: { after: 'delete' }, class: "btn btn-primary" %>
  <% end %>

  <br/>

  <div id="forecast" />
</div>