<div class="container">
  <h2>Trader</h2>

  <%= render 'form' do %>
    <%= hidden_field :forecast_request, :id %>
    <%= submit_tag "Update and fetch", data: { after: 'update' }, class: "btn btn-primary" %>
    <%= submit_tag "Fetch", data: { after: '' }, class: "btn btn-primary" %>
  <% end %>

  <br/>

  <div id="forecast" />
</div>

