.jumbotron
  .container
    h1.display-3 Welcome to CurTrader!

    - if user_signed_in?
      p Please proceed to trader view
    - else
      p Please proceed to log in page.

    p
      = link_to_unless user_signed_in?, "Log in", new_user_session_path, class: 'btn btn-primary btn-lg' do
        = link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-lg'